<mat-card class="subject-card">
  <mat-card-title>AsyncSubject</mat-card-title>
  <mat-card-content>
    <p>
      An AsyncSubject behaves more like a subject and less like Behavior/Replay Subjects,
      i. e. values emitted before subscriptions will not preserved. Even all emitted values after subscription
      will not be preserved. The AsyncSubject is a Subject variant where only the last value of the Observable
      execution is sent to its subscribers, and only when the execution completes.
    </p>
  </mat-card-content>
  <mat-card-actions>

    <form class="subject-form">
      <mat-form-field class="full-width-form">
        <input matInput
               type="number"
               name="addNumber"
               placeholder="Add a Number"
               value="1"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="addToNumber">
      </mat-form-field>
    </form>

    <p>observable$ {{observable$ | async}}</p>

    <button mat-flat-button color="primary" (click)="addToObservable(addToNumber)">Update Observable</button>

    <button mat-flat-button color="primary" (click)="completeObservable()">Complete</button>

  </mat-card-actions>
</mat-card>


