<mat-card class="subject-card">
  <mat-card-title>Subject</mat-card-title>
  <mat-card-content>
    <p>
      A Subject observable is used to immediately notify subscribers of updated values emitted by it. It does not
      keep track of old values, i.e. if a Subject observable first emitted a value and was then later subscribed to,
      then the subscriber will not get get that value. You can think of a Subject like a live update / feed.
      Old values emitted from the time of its creation up to its subscription are not preserved; only values
      emitted after its subscription can be captured.
    </p>

    <pre>
      <code>
        OnInit()

        this.subject$.next(1);
        this.subject$.next(2);
      </code>
    </pre>

    <p>
      The Subject Observable was updated twice on creation with the following values: 1, and 2.
      The Observable value in the template is undefined even though it has previous values. Subscribers to a Subject
      Observable will only receive an update after the being subscribed to and Observable.next() is called.
    </p>
  </mat-card-content>
  <mat-card-actions>

    <form class="subject-form">
      <mat-form-field class="full-width-form">
        <input matInput
               type="number"
               name="addNumber"
               placeholder="New Observable value"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="addToNumber">
      </mat-form-field>
    </form>

    <button mat-flat-button color="primary" (click)="addToObservable(addToNumber)">Update Observable</button> <small><i> calls this.subject$.next({{addToNumber}})</i></small>

    <p>Observable value: {{observable$ | async}}</p>

  </mat-card-actions>
</mat-card>



