/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.subject-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width-form {
  width: 100%;
}

.subject-card {
  max-width: 600px;
  margin: 20px;
}
